<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 5 admin dashboard template & web App ui kit.">
    <meta name="keyword" content="water supply management admin template">
    <link rel="icon" href="~/assets/img/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] :: Aqua Admin Dashboard</title>

    <link rel="stylesheet" href="~/assets/bundles/dataTables.min.css">
    <link rel="stylesheet" href="~/assets/vendor/metismenu/metismenu.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <script src="~/assets/js/plugins.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="aqua admin layout-v1" data-aqua="theme-Mariner">
    <!--[ Start:: main sidebar menu link -- bg-gradient-dark dark-version ]-->
    <nav class="navbar navbar-expand-xl p-0 sidebar ">
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvas_Navbar">
            <div class="offcanvas-header">
                <div class="d-flex">
                    <a href="index.html" class="brand-icon d-flex align-items-center">
                        <svg width="20" height="30" viewBox="0 0 20 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="var(--primary-color)" fill-rule="evenodd" clip-rule="evenodd"
                                d="M19.811 16.1238C19.9349 16.8834 20 17.6371 20 18.3778C20 26.4641 12.4693 29.5004 6.81532 27.4825C7.97764 23.0246 17.6597 20.484 19.811 16.1238Z" />
                            <path fill="var(--primary-color)" fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.27152 0C11.9329 2.23179 14.4984 4.70656 16.3069 7.78674C13.4011 13.2154 4.47049 15.8634 1.29274 20.11C1.0363 20.4502 0.81692 20.7846 0.627931 21.1124C-2.51894 11.2927 7.0731 8.35428 9.27152 0Z" />
                            <path fill="var(--heading-color)" fill-rule="evenodd" clip-rule="evenodd"
                                d="M1.85753 30C1.44349 28.5084 0.578012 27.3927 1.71863 24.9369C3.28263 21.5636 11.4349 17.6953 14.9337 14.9872C19.0359 11.8129 22.6312 7.12146 16.3341 1.614C17.1563 3.04869 17.9725 4.09222 17.6171 6.27651C16.4576 13.4298 5.38789 16.1911 1.76787 21.0243C-0.680306 24.2936 0.145273 26.8789 1.85753 30Z"
                                fill="#171825" />
                            <path fill="var(--heading-color)" fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.73097 28.0795C3.83989 21.2432 22.2046 19.0061 18.9649 12.0077C19.4499 18.3177 0.333901 20.7269 5.73097 28.0795Z"
                                fill="#171825" />
                        </svg>
                        <span class="fs-5 fw-medium ms-2 text-primary lh-sm">AQUA</span>
                    </a>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body flex-column ps-xl-3 py-0 pt-2 pt-xl-0">
                <a href="index.html" class="brand-icon d-xl-flex d-none mb-3 py-3 align-items-center ps-1">
                    <svg width="20" height="30" viewBox="0 0 20 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="var(--primary-color)" fill-rule="evenodd" clip-rule="evenodd"
                            d="M19.811 16.1238C19.9349 16.8834 20 17.6371 20 18.3778C20 26.4641 12.4693 29.5004 6.81532 27.4825C7.97764 23.0246 17.6597 20.484 19.811 16.1238Z" />
                        <path fill="var(--primary-color)" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.27152 0C11.9329 2.23179 14.4984 4.70656 16.3069 7.78674C13.4011 13.2154 4.47049 15.8634 1.29274 20.11C1.0363 20.4502 0.81692 20.7846 0.627931 21.1124C-2.51894 11.2927 7.0731 8.35428 9.27152 0Z" />
                        <path fill="var(--heading-color)" fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.85753 30C1.44349 28.5084 0.578012 27.3927 1.71863 24.9369C3.28263 21.5636 11.4349 17.6953 14.9337 14.9872C19.0359 11.8129 22.6312 7.12146 16.3341 1.614C17.1563 3.04869 17.9725 4.09222 17.6171 6.27651C16.4576 13.4298 5.38789 16.1911 1.76787 21.0243C-0.680306 24.2936 0.145273 26.8789 1.85753 30Z"
                            fill="#171825" />
                        <path fill="var(--heading-color)" fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.73097 28.0795C3.83989 21.2432 22.2046 19.0061 18.9649 12.0077C19.4499 18.3177 0.333901 20.7269 5.73097 28.0795Z"
                            fill="#171825" />
                    </svg>
                    <span class="fs-5 fw-medium ms-2 text-primary lh-sm">AQUA</span>
                </a>
                <div class="d-flex align-items-start menu-tab">
                    <div class="nav flex-column nav-pills me-xl-3 me-2" role="tablist" aria-orientation="vertical">
                        <button class="nav-link avatar rounded-circle p-0 mb-2 active" data-bs-toggle="pill"
                            data-bs-target="#v1-dashboard" type="button" role="tab"><i
                                class="fa fa-dashboard"></i></button>
                        <button class="nav-link avatar rounded-circle p-0 mb-2" data-bs-toggle="pill"
                            data-bs-target="#v1-pages" type="button" role="tab"><i class="fa fa-file"></i></button>
                        <button class="nav-link avatar rounded-circle p-0 mb-2" data-bs-toggle="pill"
                            data-bs-target="#v1-resources" type="button" role="tab"><i
                                class="fa fa-puzzle-piece"></i></button>
                        <button class="nav-link avatar rounded-circle p-0 mb-2" data-bs-toggle="pill"
                            data-bs-target="#v1-authentication" type="button" role="tab"><i
                                class="fa fa-lock"></i></button>
                    </div>
                    <div class="tab-content custom_scroll w-100" style="height: 90vh; overflow-x: hidden;">
                        <div class="tab-pane fade show active" id="v1-dashboard" role="tabpanel" tabindex="0">
                            <ul class="metismenu list-unstyled">
                                <li><a class="active" href="index.html">My Dashboard</a></li>
                                <li><a href="my-analytics.html">Analytics</a></li>
                                <li><a href="my-project.html">Project's</a></li>
                                <li><a href="my-invoice.html">Invoice</a></li>
                                <li><a href="my-wallet.html">My Wallet</a></li>
                                <li><a href="my-iot.html">My Smart Home</a></li>
                                <li><a href="my-task.html">My Tasks</a></li>
                                <li class="text-muted small ps-1 mt-3 text-uppercase">--Help</li>
                                <li><a href="account.html">Account Settings</a></li>
                                <li><a href="docs/documentation.html"><span>Documentation</span></a></li>
                                <li><a href="changelog.html"><span>Changelog</span></a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v1-pages" role="tabpanel" tabindex="0">
                            <ul class="metismenu list-unstyled">
                                <li class="text-muted small ps-1 text-uppercase">--Application</li>
                                <li><a href="app-inbox.html">App Inbox</a></li>
                                <li><a href="app-chat.html">App Chat</a></li>
                                <li><a href="app-calendar.html">App Calendar</a></li>
                                <li><a href="app-contacts.html">App Contacts</a></li>
                                <li><a href="app-filemanager.html">App File Manager</a></li>
                                <li class="text-muted small ps-1 mt-3 text-uppercase">--Crafted Page</li>
                                <li><a href="account.html">Account Setting</a></li>
                                <li><a href="crafted-profile.html">My Profile</a></li>
                                <li><a href="crafted-activity.html">User Activity</a></li>
                                <li><a href="crafted-gallery.html">Imgae gallery</a></li>
                                <li><a href="crafted-ticket.html">Support Ticket</a></li>
                                <li><a href="crafted-pricing.html">Pricing table</a></li>
                                <li><a href="crafted-search.html">Search page</a></li>
                                <li><a href="crafted-map.html">World Map</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v1-resources" role="tabpanel" tabindex="0">
                            <ul class="metismenu list-unstyled">
                                <li class="mm-active">
                                    <a class="has-arrow" href="layout-v2.html#">Bootstrap UI</a>
                                    <ul class="list-unstyled">
                                        <li><a class="sub-link" href="docs/ui-accordion.html">Accordion</a></li>
                                        <li><a class="sub-link" href="docs/ui-alerts.html">Alerts</a></li>
                                        <li><a class="sub-link" href="docs/ui-avatar.html">User Avatar</a></li>
                                        <li><a class="sub-link" href="docs/ui-badges.html">Badges</a></li>
                                        <li><a class="sub-link" href="docs/ui-breadcrumb.html">Breadcrumb</a></li>
                                        <li><a class="sub-link" href="docs/ui-buttons.html">Buttons</a></li>
                                        <li><a class="sub-link" href="docs/ui-cards.html">Cards</a></li>
                                        <li><a class="sub-link" href="docs/ui-carousel.html">Carousel</a></li>
                                        <li><a class="sub-link" href="docs/ui-collapse.html">Collapse</a></li>
                                        <li><a class="sub-link" href="docs/ui-dropdowns.html">Dropdowns</a></li>
                                        <li><a class="sub-link" href="docs/ui-listgroup.html">List group</a></li>
                                        <li><a class="sub-link" href="docs/ui-modal.html">Modal</a></li>
                                        <li><a class="sub-link" href="docs/ui-navstabs.html">Navs and tabs</a></li>
                                        <li><a class="sub-link" href="docs/ui-navbar.html">Navbar</a></li>
                                        <li><a class="sub-link" href="docs/ui-offcanvas.html">Offcanvas</a></li>
                                        <li><a class="sub-link" href="docs/ui-pagination.html">Pagination</a></li>
                                        <li><a class="sub-link" href="docs/ui-placeholders.html">Placeholders</a></li>
                                        <li><a class="sub-link" href="docs/ui-popovers.html">Popovers</a></li>
                                        <li><a class="sub-link" href="docs/ui-progress.html">Progress</a></li>
                                        <li><a class="sub-link" href="docs/ui-spinners.html">Spinners</a></li>
                                        <li><a class="sub-link" href="docs/ui-toasts.html">Toasts</a></li>
                                    </ul>
                                </li>
                                <li><a href="docs/widget.html">Widget's</a></li>
                                <li>
                                    <a class="has-arrow" href="layout-v2.html#">Vendor Plugin</a>
                                    <ul class="list-unstyled">
                                        <li><a class="sub-link" href="docs/plugin-datatable.html">DataTables</a></li>
                                        <li><a class="sub-link" href="docs/plugin-owlcarousel.html">owl Carousel</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/plugin-summernote.html">Summernote</a></li>
                                        <li><a class="sub-link" href="docs/plugin-fancybox.html">Fancybox</a></li>
                                        <li><a class="sub-link" href="docs/plugin-fullcalendar.html">Full calendar</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/plugin-tuicalendar.html">tui Calendar</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/plugin-dropify.html">Dropify</a></li>
                                        <li><a class="sub-link" href="docs/plugin-jkanban.html">jKanban Board</a></li>
                                        <li><a class="sub-link" href="docs/plugin-jsgrid.html">jsgrid</a></li>
                                        <li><a class="sub-link" href="docs/plugin-masonrygallery.html">Masonry
                                                Gallery</a></li>
                                        <li><a class="sub-link" href="docs/plugin-nestable.html">nestable</a></li>
                                        <li><a class="sub-link" href="docs/plugin-countup.html">Count Up</a></li>
                                        <li><a class="sub-link" href="docs/plugin-tabledragger.html">Table Dragger</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/plugin-swiper.html">Swiper</a></li>
                                        <li><a class="sub-link" href="docs/plugin-jspreadsheet.html">jspreadsheet</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/plugin-rating.html">Rating Review</a></li>
                                        <li><a class="sub-link" href="docs/plugin-br-tabs.html">Responsive Tabs</a></li>
                                        <li><a class="sub-link" href="docs/plugin-bootstrap-select.html">Bootstrap
                                                Select</a></li>
                                        <li><a class="sub-link" href="docs/plugin-bs5-toast.html">Bootstrap 5 toast</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/plugin-bootstrap-touchspin.html">Bootstrap
                                                TouchSpin</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="layout-v2.html#">Form Elements</a>
                                    <ul class="list-unstyled">
                                        <li><a class="sub-link" href="docs/form-clipboard.html">Clipboard</a></li>
                                        <li><a class="sub-link" href="docs/form-datepicker.html">Datepicker</a></li>
                                        <li><a class="sub-link" href="docs/form-daterange.html">Date Range Picker</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/form-flatpickr.html">Flatpickr</a></li>
                                        <li><a class="sub-link" href="docs/form-inputmask.html">Inputmask</a></li>
                                        <li><a class="sub-link" href="docs/form-maxlength.html">Bootstrap Maxlength</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/form-nouislider.html">nouislider</a></li>
                                        <li><a class="sub-link" href="docs/form-passwordmeter.html">Password Meter</a>
                                        </li>
                                        <li><a class="sub-link" href="docs/form-rangeslider.html">Range Slider</a></li>
                                        <li><a class="sub-link" href="docs/form-select2.html">Select 2</a></li>
                                        <li><a class="sub-link" href="docs/form-sweetalert2.html">Sweetalert 2</a></li>
                                        <li><a class="sub-link" href="docs/form-tagsinput.html">Tags input</a></li>
                                        <li><a class="sub-link" href="docs/form-wizard.html">jQuery Steps Wizard</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="layout-v2.html#">Font icon</a>
                                    <ul class="list-unstyled">
                                        <li><a class="sub-link" href="docs/icon-fontawesome.html">Font awesome</a></li>
                                        <li><a class="sub-link" href="docs/icon-bootstrap.html">Bootstrap Icon</a></li>
                                        <li><a class="sub-link" href="docs/icon-flag.html">Country Flag icon</a></li>
                                        <li><a class="sub-link" href="docs/icon-linear.html">Simple line icon</a></li>
                                        <li><a class="sub-link" href="docs/icon-feather.html">Feather icon</a></li>
                                        <li><a class="sub-link" href="docs/icon-weather.html">Weather icon</a></li>
                                        <li><a class="sub-link" href="docs/icon-icons8.html">Icons8 icon</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="layout-v2.html#">Charts</a>
                                    <ul class="list-unstyled">
                                        <li><a class="sub-link" href="docs/chart-apex.html">Apex chart</a></li>
                                        <li><a class="sub-link" href="docs/chart-sparkline.html">Sparkline</a></li>
                                        <li><a class="sub-link" href="docs/chart-chartjs.html">Chartjs</a></li>
                                        <li><a class="sub-link" href="docs/chart-knob.html">knob chart</a></li>
                                        <li><a class="sub-link" href="docs/chart-peity.html">Peity chart</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v1-authentication" role="tabpanel" tabindex="0">
                            <ul class="metismenu list-unstyled">
                                <li class="text-muted small ps-1">--Authentication</li>
                                <li><a href="auth-signin.html">Sign in</a></li>
                                <li><a href="auth-signup.html">Sign up</a></li>
                                <li><a href="auth-password-reset.html">Reset Password</a></li>
                                <li><a href="auth-two-step.html">2-step Verification</a></li>
                                <li><a href="auth-lockscreen.html">Page Locked</a></li>
                                <li><a href="auth-maintenance.html">Under Construction!</a></li>
                                <li><a href="auth-404.html">404</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="page px-xl-4 custom_scroll bg-light">
        <!--[ Start:: page header link ]-->
        <header class="page-header py-lg-3 py-2 sticky-top bg-light border-bottom">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <!--[ Start:: menu ]-->
                <div class="d-flex align-items-center">
                    <button
                        class="btn menu-collapse d-none d-xl-inline-flex align-items-center justify-content-center me-2 p-0"
                        type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32" fill="var(--primary-color)"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z">
                            </path>
                        </svg>
                    </button>
                    <div class="d-inline-flex d-xl-none me-4">
                        <a href="index.html" class="brand-icon me-3 pe-3 border-end">
                            <svg width="20" height="30" viewBox="0 0 20 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill="var(--primary-color)" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M19.811 16.1238C19.9349 16.8834 20 17.6371 20 18.3778C20 26.4641 12.4693 29.5004 6.81532 27.4825C7.97764 23.0246 17.6597 20.484 19.811 16.1238Z" />
                                <path fill="var(--primary-color)" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.27152 0C11.9329 2.23179 14.4984 4.70656 16.3069 7.78674C13.4011 13.2154 4.47049 15.8634 1.29274 20.11C1.0363 20.4502 0.81692 20.7846 0.627931 21.1124C-2.51894 11.2927 7.0731 8.35428 9.27152 0Z" />
                                <path fill="var(--heading-color)" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.85753 30C1.44349 28.5084 0.578012 27.3927 1.71863 24.9369C3.28263 21.5636 11.4349 17.6953 14.9337 14.9872C19.0359 11.8129 22.6312 7.12146 16.3341 1.614C17.1563 3.04869 17.9725 4.09222 17.6171 6.27651C16.4576 13.4298 5.38789 16.1911 1.76787 21.0243C-0.680306 24.2936 0.145273 26.8789 1.85753 30Z"
                                    fill="#171825" />
                                <path fill="var(--heading-color)" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5.73097 28.0795C3.83989 21.2432 22.2046 19.0061 18.9649 12.0077C19.4499 18.3177 0.333901 20.7269 5.73097 28.0795Z"
                                    fill="#171825" />
                            </svg>
                        </a>
                        <button class="navbar-toggler border-0 p-0 text-primary" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas_Navbar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" fill="var(--primary-color)"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <!--[ Start:: right user ]-->
                <ul class="header-menu flex-grow-1">
                    <!--[ Start:: theme light/dark ]-->
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle gray-8" href="index.html#" id="bd-theme" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24"
                                class="theme-icon-active">
                                <use href="#sun-fill"></use>
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end p-2 shadow" aria-labelledby="bd-theme">
                            <li class="mb-1"><a class="dropdown-item active" href="#" data-bs-theme-value="light"><svg
                                        class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
                                        <use href="#sun-fill"></use>
                                    </svg> Light</a></li>
                            <li class="mb-1"><a class="dropdown-item" href="#" data-bs-theme-value="dark"><svg
                                        class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
                                        <use href="#moon-stars-fill"></use>
                                    </svg> Dark</a></li>
                            <li class="mb-1"><a class="dropdown-item" href="#" data-bs-theme-value="auto"><svg
                                        class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
                                        <use href="#circle-half"></use>
                                    </svg> Auto</a></li>
                            <li class="mb-1"><a class="dropdown-item" href="#" id="ThemeSettingToast"><svg
                                        class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
                                        <use href="#theme-setting"></use>
                                    </svg> Theme</a></li>
                        </ul>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            viewBox="0 0 16 16" style="display: none;">
                            <symbol id="sun-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                            </symbol>
                            <symbol id="moon-stars-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                                <path
                                    d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                            </symbol>
                            <symbol id="circle-half" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                            </symbol>
                            <symbol id="theme-setting" viewBox="0 0 16 16">
                                <path
                                    d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                            </symbol>
                        </svg>
                    </li>
                    <!--[ Start:: user detail ]-->
                    <li class="nav-item user ms-3">
                        <a class="dropdown-toggle d-flex text-decoration-none align-items-center lh-sm p-0"
                            href="index.html#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            title="User">
                            <img class="avatar rounded-circle border border-3" src="~/assets/img/profile_av.png"
                                alt="avatar">
                            <span class="ms-2 fs-6 fw-medium text-body d-none d-sm-inline-flex">Henry Edwin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end shadow p-4 rounded-4">
                            <h6 class="mb-1">Henry Edwin</h6>
                            <p class="small text-muted">Henry.glover@gmail.com</p>
                            <input type="text" class="form-control form-control-sm" placeholder="Update my status">
                            <ul class="list-unstyled mt-3">
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="my-wallet.html"><span class="align-middle">Balance:
                                            <b>$864.6
                                                K</b></span></a></li>
                                <li><a class="dropdown-item" href="crafted-profile.html">My Profile</a></li>
                                <li><a class="dropdown-item" href="my-task.html">My Taskboard</a></li>
                                <li><a class="dropdown-item" href="app-chat.html">Messages</a></li>
                                <li><a class="dropdown-item" href="account.html">Settings</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="index.html#">Add another account</a></li>
                            </ul>
                            <a class="btn py-2 btn-dark w-100 mt-3" href="auth-signin.html" role="button">Logout</a>
                            <div class="mt-3 text-center small">
                                <a class="text-muted me-1" href="index.html#!">Privacy policy</a>•<a
                                    class="text-muted mx-1" href="index.html#!">Terms</a>•<a class="text-muted ms-1"
                                    href="index.html#!">Cookies</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--[ Start:: theme color setting ]-->
            <div class="toast-container position-fixed bottom-0 end-0 p-2 p-sm-3">
                <div id="liveToast" class="toast border-0 rounded-4 shadow" role="alert" aria-live="assertive"
                    aria-atomic="true">
                    <div class="toast-header p-sm-3 rounded-4">
                        <strong class="me-auto">Aqua App Settings</strong>
                        <button type="button" class="bg-transparent btn-close" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                    </div>
                    <div class="toast-body p-2 p-sm-3">
                        <div class="bg-light p-3 p-sm-4 rounded mb-1">
                            <h6>Set Theme Color</h6>
                            <ul class="choose-skin list-unstyled mb-0">
                                <li data-theme="ValenciaRed">
                                    <div style="--aqua-theme-color: #D63B38;"></div>
                                </li>
                                <li data-theme="SunOrange">
                                    <div style="--aqua-theme-color: #F7A614;"></div>
                                </li>
                                <li data-theme="AppleGreen">
                                    <div style="--aqua-theme-color: #5BC43A;"></div>
                                </li>
                                <li data-theme="CeruleanBlue">
                                    <div style="--aqua-theme-color: #00B8D6;"></div>
                                </li>
                                <li data-theme="PurpleHeart">
                                    <div style="--aqua-theme-color: #2561BE;"></div>
                                </li>
                                <li data-theme="Mariner" class="active">
                                    <div style="--aqua-theme-color: #6238B3;"></div>
                                </li>
                                <li data-theme="FrenchRose">
                                    <div style="--aqua-theme-color: #EB5393;"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="bg-light p-3 p-sm-4 rounded mb-3">
                            <h6>More App Setting</h6>
                            <div class="form-check monochrome-toggle">
                                <input class="form-check-input fs-6" type="checkbox" role="switch" id="monochrome">
                                <label class="form-check-label" for="monochrome">Monochrome Mode</label>
                            </div>
                            <div class="form-check gradient-active">
                                <input class="form-check-input fs-6" type="checkbox" role="switch" id="gradient-active">
                                <label class="form-check-label" for="gradient-active">Gradient Active</label>
                            </div>
                            <div class="form-check radius-toggle">
                                <input class="form-check-input fs-6" type="checkbox" role="switch" id="radius0">
                                <label class="form-check-label" for="radius0">Border Radius none</label>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button type="button" class="btn w-100 me-1 py-2 btn-primary">Buy Now</button>
                            <button type="button" class="btn w-100 ms-1 py-2 btn-dark">View Portfolio</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--[ Start:: page body area ]-->
        <main class="page-body py-4">
            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
            @RenderBody()
        </main>
        <!--[ end:: main content-area ]-->

        <!--[ start:: footer-area ]-->
        <footer class="footer footer-area ">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between">
                    <p></p>
                    <ul class="list-unstyled d-flex align-items-center gap-3 mb-0 p-2">
                        <li><a href="javascript:void(0);">Developed by Clinetra Solutions Pvt.Ltd</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--[ end:: footer-area ]-->

        <!--[ Jquery Core Js ]-->
        <script src="~/assets/js/theme.js"></script>
        <!--[ Chart plugin url ]-->
        <script src="~/assets/bundles/apexcharts.bundle.js"></script>
        <!--[ Forms url ]-->
        <!--[ plugin url ]-->
        <script src="~/assets/bundles/purecounter.bundle.js"></script>
        <script src="~/assets/bundles/dataTables.bundle.js"></script>
        <script src="~/assets/vendor/purecounterjs/purecounter_vanilla.js"></script>
        <script src="~/assets/vendor/peity/jquery.peity.min.js"></script>
        <script src="~/assets/vendor/metismenu/metismenu.js"></script>

        @* Render page-specific scripts here *@
        @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
